:root {
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --second-font: Raleway, sans-serif;
  /* Color */
  --main-tx-cl: #434455;
  --background-cl: #ffffff;
  --web-logo-light: #f4f4fd;
  --link-cl: #2e2f42;
  --address-cl: #434455;
  --activ-cl: #404bbf;
  --hero-cl: #ffffff;
  --logo-cl: #4d5ae5;
  --btn-cl: #e7e9fc;
}
/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
  font-size: 16px;
  list-style: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-tx-cl);
  background-color: var(--background-cl);
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

/**
  |============================
  | Header
  |============================
*/
.logo-link {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-cl);
  margin-left: 156px;
  margin-right: 76px;
}

.header-top {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.web-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-cl);
}

.header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-cl);
  padding: 24px 0;
}

.header-link:hover,
.header-link:focus {
  color: var(--activ-cl);
}

.header-address {
  font-style: normal;
  line-height: 1.5;
  color: var(--address-cl);
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address > .header-link {
  color: var(--address-cl);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--activ-cl);
}

.header-container {
  display: flex;
  align-items: center;
}



.socials-item:hover,
.socials-link:focus {
  color:var(--activ-cl)
}


/**
  |============================
  | Hero
  |============================
*/

.hero-container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

.hero-section {
  background-color: var(--link-cl);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office\ 1.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  margin: 0;
  padding: 188px 0;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-cl);
  width: 496px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  background: #4d5ae5;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-cl);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.address {
  color: var(--address-cl);
  font-weight: 400;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--hero-cl);
  background-color: var(--activ-cl);
}

/**
  |============================
  | About
  |============================
*/

.about-section {
  padding: 120px 0;
}

.abaut-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.about-list {
  display: flex;
  gap: 24px;
}

.about-list-item {
  width: calc((100% - 72px) / 4);
}

.about-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--link-cl);
  margin-bottom: 8px;
}
.about-desc {
  line-height: 1.5;
}

/**
  |============================
  | Portfolio
  |============================
*/

.portfolio-section {
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--link-cl);
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 24px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

/**
  |============================
  | Team
  |============================
*/

.team {
  background: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--link-cl);
  margin-bottom: 72px;
}

.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--link-cl);
  text-align: center;
  margin-bottom: 8px;
}
.team-desc {
  line-height: 1.5;
  text-align: center;
}

.team-content {
  padding-top: 32px;
   padding-bottom: 32px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials:hover,
.socials:focus {
  color: #404bbf;
}


.socials-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-cl);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-icons {
  fill: #f4f4fd;
}



/**
  |============================
  | Footer
  |============================
*/
.footer {
  color: var(--web-logo-light);
  background-color: var(--link-cl);
  padding: 100px 0;
}

.footer-logo {
  color: var(--web-logo-light);
}

.flogo-link {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-cl);
  margin-bottom: 16px;
}

/**
  |============================
  | Portfolio section
  |============================
*/

.filter-section {
  padding: 96px 0 120px;
  display: block;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-cl);
  background-color: var(--web-logo-light);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--btn-cl);
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--background-cl);
  background-color: var(--activ-cl);
  border: 1px solid transparent;
}

.text-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--link-cl);
  margin-bottom: 8px;
}

.text {
  line-height: 1.5;
  color: var(--main-tx-cl);
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
